/*--------------------------------------------------------------
    # General
    --------------------------------------------------------------*/

body {
  background-image: linear-gradient(
    0deg,
    rgba(255, 247, 62, 1) 41%,
    rgba(253, 187, 45, 1) 100%
  );
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Comic Sans MS, Comic Sans, cursive, Arial;
  color: white;
  width: 100%;
  height: 100%;
}
a:hover {
  color: #3b8af2;
  text-decoration: none;
}
a {
  font-family: Comic Sans MS, Comic Sans, cursive, Arial;
  color: white;
}
/*-----------------------------
  Content body
--------------------------------*/
#information > ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}
#information > ul > li {
  margin-left: 5%;
  width: 100%;
}
/*-------------------------
  Profile section
--------------------------------*/
#profilepic{
  height:8em;
  width:6em;
  border-radius:50%;
  padding:0.5em;
}
#profile {
  background-color: black;
  height: 120vh;
  font-size: 2.5vh;
  border-radius: 20px;
  padding-left: 0.5em;
  padding-top: 0.5em;
}
#profile > h2 {
  text-align: left;
}
/*-----------------------------
 Content section
--------------------------------*/
#content {
  height: 100%;
  width: 100%;
}
#projects {
  background-color: black;
  border-radius: 20px;
  padding: 5px;
  height: 100vh;
  width: 55vw;
}
.projectlist > ul > li {
  list-style-type: square;
}
/*-----------------------------
 Extra section
--------------------------------*/
#extra {
  background-color: black;
  height: 30em;
  width: 50%;
  padding-left: 2em;
  padding-right: 1em;
  margin: 5%;
  border-radius: 20px;
}

/*--------------------------------------------------------------
      # Header
      --------------------------------------------------------------*/
#header {
  background-color: black;
  width: auto;
  border-radius: 10px;
  margin: 10px;
  height: auto;
}

#homepage {
  padding-left: 20px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

#header .logo a {
  color: white;
}

#header .logo a span {
  color: #106eea;
}

/*--------------------------------------------------------------
      # Navigation Menu
      --------------------------------------------------------------*/
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
}
#rightCorner {
  top: 10px;
  position: relative;
  margin-left: 5em;
  height: auto;
  padding: 5px;
  float: right;
  width: auto;
}
.nav-menu a {
  margin-top: 30px;
  margin-right: 5em;
  display: block;
  position: relative;
  font-family: Comic Sans MS, Comic Sans, cursive, Arial;
  color: white;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #106eea;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #106eea;
  text-decoration: none;
}
